
#header {
    background-color: #6f0aaa;
    font-family: 'Playfair Display';
    align-items: center;
    color: white;
}

a {
    text-decoration: none !important;
    color: white;
}

a:hover {
    color: #e7e7e7;
}

body {
    margin: 0;
    background-color: #292929;
    background-attachment: fixed;
}

#titulo {
    font-size: 150%;
}

img {
    width: 200px;
    height: 200px;
}

.card:hover {
    border: 4px solid #6f0aaa;
}

.card {
    border-radius: 10px;
    background-color: #383838 !important;
    color: white;
    padding: 2%;
    margin-top: 8%;
}

.img_devices {
    margin: auto;
}

.acoes {
    margin-top: 5px;
}

.btn {
    margin-left: 3%;
}

.input-group-text {
    display: inline;
    margin-left: 3%;
}