body,
#header {
    font-family: "Source Sans Pro", "Roboto", sans-serif;
}

#header {
    background-color: #6f0aaa;
    align-items: center;
    color: white;
}

a {
    text-decoration: none !important;
    color: white;
}

a:hover {
    color: #e7e7e7;
}

body {
    margin: 0;
    background-color: #292929;
    background-attachment: fixed;
}

#titulo {
    font-size: 150%;
}

img {
    width: 200px;
    height: 200px;
}

.card:hover {
    border: 4px solid #6f0aaa;
}

.card {
    border-radius: 10px;
    background-color: #383838 !important;
    color: white;
    padding: 2%;
    margin-top: 8%;
}

.img_devices {
    margin: auto;
}

.acoes label {
    margin-top: 15px;
}

.acoes input {
    margin-left: 5%;
}

.btn {
    margin-left: 3%;
}

.input-group-text {
    display: inline;
    margin-left: 3%;
}

#search_devices {
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.tipo-device {
    text-transform: uppercase;
    margin-top: 10%;
    font-weight: bold;
}